<template>
  <div class="absolute-center">
    <div class="q-gutter-md" style="width:400px">
      <div align="center">
        <img style="width:80%" src="../statics/logo.png" alt />
      </div>
      <div>
        <q-input v-model="username" borderless class="bg-white q-px-md" label="ชื่อผู้ใช้งาน"></q-input>
      </div>
      <div>
        <!-- <q-input v-model="password" borderless class="bg-white q-px-md" label="รหัสผ่าน"></q-input> -->

        <q-input
          borderless
          class="bg-white q-px-md"
          v-model="password"
          :type="isPwd ? 'password' : 'text'"
          label="รหัสผ่าน"
        >
          <template v-slot:append>
            <q-icon
              :name="isPwd ? 'visibility_off' : 'visibility'"
              class="cursor-pointer"
              @click="isPwd = !isPwd"
            />
          </template>
        </q-input>
      </div>
      <div>
        <q-btn
          flat
          label="เข้าสู่ระบบ"
          style="background-color:#42CB85;width:100%"
          class="text-white"
          @click="login()"
        ></q-btn>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../router/index.js";
export default {
  data() {
    return {
      isPwd: true,
      username: "",
      password: ""
    };
  },
  methods: {
    login() {
      this.$q.loading.show({ delay: 400 });
      let schoolCode = this.username.substring(0, 3);
      db.collection("school")
        .doc(schoolCode)
        .collection("student")
        .where("username", "==", this.username)
        .where("password", "==", this.password)
        .get()
        .then(doc => {
          if (doc.size) {
            // username password ถูกต้อง
            let finalData = doc.docs[0].data();
            delete finalData.password;
            // GET COURSE DATA
            db.collection("course")
              .where("studentid", "==", doc.docs[0].id)
              .where("academicYear", "==", "2/2562")
              .get()
              .then(course => {
                this.$q.localStorage.set("courseData", course.docs[0].data());
                finalData.mocktest =
                  doc.docs[0].data().mocktest == undefined
                    ? []
                    : doc.docs[0].data().mocktest;
                this.$q.localStorage.set("studentData", finalData);
                this.$q.loading.hide();
                this.$router.push("/main");
              });
          } else {
            // username password ผิดพลาด
            this.$q.notify({
              color: "red",
              message: "ไม่พบรหัสผู้ใช้งานนี้ในระบบ"
            });
            this.$q.loading.hide();
          }
        });
    }
  },
  created() {
    this.$q.localStorage.clear();
  }
};
</script>

<style >
</style>