<template>
  <div>
    <!-- APP BAR -->
    <div style="background-color:#42CB85" class="q-pa-sm" align="center">
      <div class="row items-center">
        <div class="col-1" align="left">
          <q-btn icon="fas fa-chevron-left" flat></q-btn>
        </div>
        <div class="col-10 text-h6">Mock Test</div>
        <div align="right" class="col-1">
          <q-btn icon="fas fa-sign-out-alt" flat></q-btn>
        </div>
      </div>
    </div>
    <!-- COLUMN -->
    <div class="row items-start q-pa-xl" v-if="isLoad">
      <!-- left column -->
      <div class="col-4 q-pa-md self-center">
        <div class="row">
          <div class="col-12 q-pa-sm">
            <div class="bg-white">
              <q-img src="../statics/bg.png">
                <div class="absolute-center transparent text-h3">ข้อสอบ</div>
              </q-img>
              <!-- <img src="../statics/bg.png" style="width:100%" alt /> -->
            </div>
          </div>
        </div>
      </div>
      <!-- right column -->
      <div class="col-8 q-pa-md">
        <div class="row">
          <div class="col-12 q-pa-sm row" v-for="i in 6" :key="i">
            <q-btn
              :disable="!studentData.mocktest.includes('mocktest' + (i -1)) && i != 1 "
              class="row bg-white col-12 q-pa-md"
              @click="gotoMockTest(i)"
              no-caps
            >
              <div class="col-12" align="center">แบบทดสอบที่ {{ i }}</div>
              <div>
                <q-rating
                  v-if="mockData[i-1] && mockData[i-1].finish"
                  :value="mockData[i-1].star"
                  :max="3"
                  size="1.5em"
                  color="yellow"
                  icon="star_border"
                  icon-selected="star"
                  readonly
                />
              </div>
            </q-btn>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../router";
export default {
  data() {
    return {
      studentData: this.$q.localStorage.getItem("studentData"),
      courseData: this.$q.localStorage.getItem("courseData"),
      mockData: "",
      isLoad: false
    };
  },
  methods: {
    gotoMockTest(index) {
      if (this.mockData.length) {
        if (this.mockData[index - 1] != undefined) {
          if (this.mockData[index - 1].finish) {
            // ทำไปแล้ว
            this.$q.notify({
              message: "คุณได้ทำแบบทดสอบไปแล้ว",
              color: "secondary"
            });
          } else {
            // ยังไม่ทำ
            this.$q.localStorage.set("mockset", index);
            this.$router.push("/exam");
          }
        } else {
          // ยังไม่ทำ
          this.$q.localStorage.set("mockset", index);
          this.$router.push("/exam");
        }
      } else {
        // ยังไม่ทำ
        this.$q.localStorage.set("mockset", index);
        this.$router.push("/exam");
      }
    },
    getMocktestData() {
      // result >= 80 ? 3 : result >=60 ?2 : 1
      db.collection("studentMocktest")
        .where("studentKey", "==", this.courseData.studentid)
        .get()
        .then(doc => {
          let temp = [];
          doc.forEach(element => {
            let star =
              (element.data().correct / element.data().totalQuestion) * 100;
            star = star >= 80 ? 3 : star >= 60 ? 2 : 1;
            temp.push({ key: element.id, star: star, ...element.data() });
          });
          this.isLoad = true;
          temp.sort((a, b) => {
            return a.mocktest - b.mocktest;
          });
          this.mockData = temp;
        });
    }
  },
  created() {
    this.getMocktestData();
  },
  mounted() {
    if (!this.$q.localStorage.has("studentData")) {
      this.$router.push("/");
    }
  }
};
</script>

<style>
.brx {
  border: 1px solid red;
}
</style>