<template>
  <div v-if="isLoad">
    <!-- APP BAR -->
    <div style="background-color:#42CB85" class="q-pa-sm" align="center">
      <div class="row items-center">
        <div class="col-1" align="left">
          <q-btn icon="fas fa-chevron-left" @click="$router.push('/main')" flat></q-btn>
        </div>
        <div class="col-10 text-h6">แบบทดสอบที่ {{ this.$q.localStorage.getItem("mockset") }}</div>
        <div align="right" class="col-1">
          <q-btn icon="fas fa-sign-out-alt" flat></q-btn>
        </div>
      </div>
    </div>

    <div class="q-pa-md" style="width:80%;max-width:1024px;margin:auto">
      <!-- CURRENTQUESTION / TOTALQUESTION -->
      <div align="right" class="text-h5">ข้อที่ {{ currentQuestion+1 + "/" + practiceData.length }}</div>
      <!-- INSTRUCTION -->
      <div class="text-h5">{{ practiceData[currentQuestion].instructioneng }}</div>
      <div class="text-h5">{{ practiceData[currentQuestion].instructionthai }}</div>
      <!-- Question -->
      <div class="bg1 q-pa-md text-white text-h5 q-mt-lg">
        <span v-html="practiceData[currentQuestion].question "></span>
      </div>
      <!-- CHOICES -->
      <div class="row items-center q-pt-md">
        <div
          class="col-6 q-pa-md"
          v-for="(choices,index) in practiceData[currentQuestion].choicesArray"
          :key="index"
        >
          <q-btn
            :disable="isDisableBtn"
            style="width:100%"
            class="bg-white text-black q-pa-md"
            no-caps
            v-html="choices.choice"
            @click="answer(choices.realIndex)"
          ></q-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../router";
export default {
  data() {
    return {
      practiceData: [],
      currentQuestion: 0,
      isLoad: false,
      studentData: this.$q.localStorage.getItem("studentData"),
      courseData: this.$q.localStorage.getItem("courseData"),
      isLoad: false,
      correct: 0,
      incorrect: 0,
      isDisableBtn: false
    };
  },
  methods: {
    shuffle(a) {
      var j, x, i;
      for (i = a.length - 1; i > 0; i--) {
        j = Math.floor(Math.random() * (i + 1));
        x = a[i];
        a[i] = a[j];
        a[j] = x;
      }
      return a;
    },
    answer(index) {
      this.isDisableBtn = true;
      // this.$q.loading.show({ delay: 400 });
      let correctAnswer = this.practiceData[this.currentQuestion].correctanswer;
      let studentAnswer = index;
      if (studentAnswer == correctAnswer) {
        this.correct++;
        console.log("ถูก");
      } else {
        console.log("ผิด");
        this.incorrect++;
      }
      // if (this.currentQuestion < this.practiceData.length - 1) {
      db.collection("studentMocktest")
        .where("studentKey", "==", this.courseData.studentid)
        .where("mocktest", "==", this.$q.localStorage.getItem("mockset"))
        .get()
        .then(doc => {
          if (doc.size) {
            // กรณีมีการบันทึกไว้แล้ว
            db.collection("studentMocktest")
              .doc(doc.docs[0].id)
              .set({
                currentQuestion:
                  this.currentQuestion == this.practiceData.length - 1
                    ? this.currentQuestion
                    : this.currentQuestion + 1,
                correct: this.correct,
                incorrect: this.incorrect,
                totalQuestion: this.practiceData.length,
                finish:
                  this.currentQuestion == this.practiceData.length - 1
                    ? true
                    : false,
                studentKey: this.courseData.studentid,
                mocktest: this.$q.localStorage.getItem("mockset")
              })
              .then(() => {
                this.isDisableBtn = false;
                if (this.currentQuestion < this.practiceData.length - 1) {
                  this.currentQuestion++;
                  this.$q.loading.hide();
                } else {
                  this.isLoad = false;
                  this.$q.loading.show({ delay: 400 });
                  db.collection("school")
                    .doc(this.courseData.schoolcode)
                    .collection("student")
                    .doc(this.courseData.studentid)
                    .get()
                    .then(school => {
                      let mocktest =
                        school.data().mocktest == undefined
                          ? []
                          : school.data().mocktest;

                      mocktest.push(
                        "mocktest" + this.$q.localStorage.getItem("mockset")
                      );

                      mocktest = [...new Set(mocktest)];

                      db.collection("school")
                        .doc(this.courseData.schoolcode)
                        .collection("student")
                        .doc(this.courseData.studentid)
                        .update({
                          mocktest: mocktest
                        })
                        .then(() => {
                          db.collection("school")
                            .doc(this.courseData.schoolcode)
                            .collection("student")
                            .doc(this.courseData.studentid)
                            .get()
                            .then(studata => {
                              this.$q.localStorage.set(
                                "studentData",
                                studata.data()
                              );
                              // push ไปหน้าสรุป
                              this.$q.localStorage.set(
                                "correctAnswer",
                                this.correct
                              );
                              this.$q.localStorage.set(
                                "totalQuestion",
                                this.practiceData.length
                              );
                              this.$q.loading.hide();
                              this.$router.push("/result");
                            });
                        });
                    });
                }
              });
          } else {
            this.isDisableBtn = true;
            db.collection("studentMocktest")
              .add({
                currentQuestion:
                  this.currentQuestion == this.practiceData.length - 1
                    ? this.currentQuestion
                    : this.currentQuestion + 1,
                correct: this.correct,
                incorrect: this.incorrect,
                totalQuestion: this.practiceData.length,
                finish:
                  this.currentQuestion == this.practiceData.length - 1
                    ? true
                    : false,
                studentKey: this.courseData.studentid,
                mocktest: this.$q.localStorage.getItem("mockset")
              })
              .then(() => {
                this.isDisableBtn = false;
                if (this.currentQuestion < this.practiceData.length - 1) {
                  this.currentQuestion++;
                  this.$q.loading.hide();
                } else {
                  db.collection("school")
                    .doc(this.courseData.schoolcode)
                    .collection("student")
                    .doc(this.courseData.studentid)
                    .get()
                    .then(school => {
                      let mocktest =
                        school.data().mocktest == undefined
                          ? []
                          : school.data().mocktest;
                      //  update ให้สถานะว่าเด็กทำ mocktest ตัวนี้แล้ว
                      if (mocktest.length) {
                        mocktest.push(
                          "mocktest" + this.$q.localStorage.getItem("mockset")
                        );
                      } else {
                        mocktest.push("mocktest1");
                      }

                      mocktest = [...new Set(mocktest)];

                      db.collection("school")
                        .doc(this.courseData.schoolcode)
                        .collection("student")
                        .doc(this.courseData.studentid)
                        .update({
                          mocktest: mocktest
                        })
                        .then(() => {
                          this.$q.loading.show({ delay: 400 });
                          db.collection("school")
                            .doc(this.courseData.schoolcode)
                            .collection("student")
                            .doc(this.courseData.studentid)
                            .get()
                            .then(studata => {
                              this.$q.localStorage.set(
                                "studentData",
                                studata.data()
                              );
                              // push ไปหน้าสรุป
                              this.$q.localStorage.set(
                                "correctAnswer",
                                this.correct
                              );
                              this.$q.localStorage.set(
                                "totalQuestion",
                                this.practiceData.length
                              );
                              this.$q.loading.hide();
                              this.$router.push("/result");
                            });
                        });
                    });
                }
              });
          }
        });
    },
    loadExam() {
      this.$q.loading.show({ delay: 400 });
      let levelUnit = "L" + this.courseData.vocablv + "U1";
      let mocktestFind = "mocktest" + this.$q.localStorage.getItem("mockset");
      let temp = [];
      for (let unit = 1; unit <= 12; unit++) {
        let levelUnit = "L" + this.courseData.vocablv + "U" + unit;
        let findMock = "mocktest" + this.$q.localStorage.getItem("mockset");
        db.collection("questionpool")
          .doc("server")
          .collection(levelUnit)
          .where("mocktest", "array-contains", findMock)
          .get()
          .then(doc => {
            if (doc.size) {
              doc.forEach(element => {
                let elementData = element.data();
                let choices = [
                  {
                    realIndex: 1,
                    choice: element.data().choice1
                  },
                  {
                    realIndex: 2,
                    choice: element.data().choice2
                  },
                  {
                    realIndex: 3,
                    choice: element.data().choice3
                  },
                  {
                    realIndex: 4,
                    choice: element.data().choice4
                  }
                ];
                delete elementData.choice1;
                delete elementData.choice2;
                delete elementData.choice3;
                delete elementData.choice4;
                choices = this.shuffle(choices);

                choices = choices.filter(x => {
                  return x.choice != "";
                });

                choices = choices.filter(x => {
                  return x != "";
                });

                temp.push({
                  key: element.id,
                  choicesArray: choices,
                  ...elementData
                });
              });
              this.isLoad = true;
              this.shuffle(temp);
              this.practiceData = temp;
            }
          });
      }

      db.collection("studentMocktest")
        .where("studentKey", "==", this.courseData.studentid)
        .where("mocktest", "==", this.$q.localStorage.getItem("mockset"))
        .get()
        .then(stu => {
          if (stu.size) {
            if (stu.docs[0].data().finish) {
              this.$q.loading.hide();
              this.$q.notify({
                message: "คุณได้ทำแบบทดสอบไปแล้ว",
                color: "secondary"
              });
              this.$router.push("/main");
            } else {
              this.currentQuestion =
                stu.docs[0].data().currentQuestion == undefined
                  ? 0
                  : stu.docs[0].data().currentQuestion;
              this.correct =
                stu.docs[0].data().correct != undefined
                  ? stu.docs[0].data().correct
                  : 0;
              this.incorrect =
                stu.docs[0].data().incorrect != undefined
                  ? stu.docs[0].data().incorrect
                  : 0;
              this.isLoad = true;
              this.$q.loading.hide();
            }
          } else {
            this.currentQuestion = 0;
            this.isLoad = true;
            this.$q.loading.hide();
          }
        });
    }
  },
  mounted() {
    this.loadExam();
  }
};
</script>

<style >
.bg1 {
  background-color: #0f2753;
}
</style>