<template>
  <div class="bgresult">
    <!-- APP BAR -->
    <div style="background-color:#42CB85" class="q-pa-sm" align="center">
      <div class="row items-center">
        <div class="col-1" align="left">
          <q-btn icon="fas fa-chevron-left" @click="this.$router.push('/main')" flat></q-btn>
        </div>
        <div class="col-10 text-h6">แบบทดสอบที่ {{ this.$q.localStorage.getItem("mockset") }}</div>
        <div align="right" class="col-1">
          <q-btn icon="fas fa-sign-out-alt" flat></q-btn>
        </div>
      </div>
    </div>
    <div class="absolute-center">
      <!-- SCORE -->
      <div align="center">
        <q-circular-progress
          :value="result"
          size="200px"
          :thickness="0.1"
          color="teal"
          center-color="dark"
          track-color="transparent"
          class="q-ma-md text-teal"
          show-value
        >{{ correctAnswer + "/" + totalQuestion }}</q-circular-progress>
      </div>
      <!-- STAR -->
      <div align="center" class="q-pt-md">
        <q-rating
          :value="result >= 80 ? 3 : result >=60 ?2 : 1 "
          :max="3"
          size="5.5em"
          color="yellow"
          icon="star_border"
          icon-selected="star"
          readonly
        />
      </div>
      <!-- FINISH TEXT -->
      <div
        align="center"
        class="text-h5 q-pt-md text-weight-medium"
      >จบการทำแบบทดสอบที่ {{ this.$q.localStorage.getItem("mockset") }}</div>
      <!-- Exit Exam BUTTON -->
      <div class="q-pt-lg" align="center">
        <q-btn
          label="กลับสู่หน้าหลัก"
          class="text-white text-h6"
          style="width:300px;background-color:#0F2753"
          @click="backToMain()"
        ></q-btn>
      </div>
      <!-- NEXT EXAM BUTTON -->
      <div class="q-pt-lg">
        <q-btn
          label="ทำแบบทดสอบถัดไป"
          class="text-white text-h6"
          style="width:300px;background-color:#0F2753"
          @click="nextExam()"
        ></q-btn>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      correctAnswer: this.$q.localStorage.getItem("correctAnswer"),
      totalQuestion: this.$q.localStorage.getItem("totalQuestion"),
      result: Math.ceil(
        (this.$q.localStorage.getItem("correctAnswer") /
          this.$q.localStorage.getItem("totalQuestion")) *
          100
      )
    };
  },
  methods: {
    nextExam() {
      let index = this.$q.localStorage.getItem("mockset");
      this.$q.localStorage.set("mockset", index + 1);
      this.$router.push("/exam");
    },
    backToMain() {
      this.$q.localStorage.remove("correctAnswer");
      this.$q.localStorage.remove("totalQuestion");
      this.$router.push("/main");
    }
  }
};
</script>

<style >
.bluemock {
  background-color: #0f2753;
}
.bgresult {
  background-image: url("../statics/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}
</style>